.vscode/
.github/
.gradio/
.env/
.venv/
.mypy_cache/
__pycache__/
*.pyc
weights/
logs/
*.pth
*.ckpt
wandb/
shared
pyrightconfig.json
*.log
*.txt
*.png
*.jpg
*.pt

.DS_Store
*-checkpoint.ipynb
*.egg*
build/*
_C.*
outputs/*
checkpoints/
demo/backend/checkpoints/*.pt


